<?xml version='1.0' encoding='UTF-8'?>

<application>
    <tcp>
         <server>
             <task>1</task>
             <ip>192.168.2.10</ip>
             <port>8888</port>
             <bond></bond>
         </server>
         <client>
             <task>1</task>
             <ip>192.168.2.11</ip>
             <port>8888</port>
             <start>09:00</start>
             <end>18:00</end>
             <run>ture</run>
             <describe>tcp信令通道</describe>
         </client>
        <server>
            <task>2</task>
            <ip>192.168.2.10</ip>
            <port>8888</port>
            <bond></bond>
        </server>
        <client>
            <task>2</task>
            <ip>192.168.2.11</ip>
            <port>8888</port>
            <start>19:00</start>
            <end>23:00</end>
            <run>ture</run>
            <describe>tcp信令通道2</describe>
        </client>
    </tcp>
    <udp>
        <server>
            <task>1</task>
            <ip>192.168.2.10</ip>
            <port>800</port>
            <bond></bond>
        </server>
        <client>
            <task>1</task>
            <ip>192.168.2.11</ip>
            <port>8000</port>
            <start>09:00</start>
            <end>18:00</end>
            <run>ture</run>
            <describe>tcp信令通道</describe>
        </client>
        <server>
            <task>2</task>
            <ip>192.168.2.10</ip>
            <port>8000</port>
            <bond></bond>
        </server>
        <client>
            <task>2</task>
            <ip>192.168.2.11</ip>
            <port>8000</port>
            <start>19:00</start>
            <end>23:00</end>
            <run>ture</run>
            <describe>tcp信令通道2</describe>
        </client>
    </udp>
    <access>
        <control>
            <clientip>any</clientip>
            <clientport>any</clientport>
            <targetip>192.168.2.10</targetip>
            <targetport>8888</targetport>
            <allow>true</allow>
        </control>
        <control>
            <clientip>any</clientip>
            <clientport>any</clientport>
            <targetip>192.168.2.11</targetip>
            <targetport>8000</targetport>
            <allow>true</allow>
        </control>
    </access>
</application>